*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}
body{
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
.nav{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.blur{
    background-color: black;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: calc(100vh - 50px);
    opacity: 0.8;
}
#body1{
    height: calc(100vh - 50px);
    background-color: black;
    transition: 1s;
    opacity: 1;
}
#body2{
    height:100vh;
    background-image: url(./groupbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#moveTheBrothers{
    position: absolute;
    bottom: 0px;
    left: 200px;
    height: 100vh;
    animation: tommy 6s forwards;
    background-color: blue;
}
#thomas{
    z-index: 5;
    position: absolute;
    bottom: 0;
    height: 500px;
    animation: disdis 6s forwards;
}

@keyframes disdis{
    0%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#aurthur{
    position: absolute;
    bottom: 0px;
    left: 30px;
    height: 450px;
    z-index: 4;
    animation: authur 4s forwards;
    animation-delay: 2s;
    opacity: 0;
}
#john{
    position: absolute;
    bottom: 0px;
    left: 30px;
    height: 450px;
    z-index: 4;
    animation: john 4s forwards;
    animation-delay: 2s;
    opacity: 0;
}

.name{
    display: inline;
    position: absolute;
    right: 30%;
    top: 45%;
    font-size: 50px;
    animation: name 4s forwards;
    animation-delay: 2s;
}

.intro{
    position: absolute;
    left:60rem;
    top: 240px;
    opacity: 0;
    animation: intro 2s forwards;
    animation-delay: 6s;
}
.appear{
    animation: appear 2s forwards;
    opacity: 0;
    animation-delay: 5s;
    z-index: 10;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#identity{
    font-size: 50px;
    opacity: 0; 
    animation: diss 1s infinite;
    animation-direction: alternate;
}
#frameCont{
    overflow: hidden;
    position: absolute;
    transition: 1s;
    left: 100px;
    z-index: 0;
    opacity: 0;
    height: 600px;
    width: 500px;
    background-color: black;
    background-position:center 100px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: frame 5.5s forwards;
}

.revolver{
    z-index: 10;
    position: absolute;
    right:450px;
    height: 350px;
    width: 350px;
    bottom: 150px; 
    transition: 2s;
    animation-delay: 6s;
    animation: revolve 12s infinite;
}

.revolver #authurs{
    position: absolute;
    top: 218px;
    left: 176px;
    background-color: black;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: reverb 12s infinite;
}

.revolver #pollys{
    position: absolute;
    top: 120px;
    left: 10px;
    background-color: black;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: reverb 12s infinite;
}

.revolver #thomass{
    position: absolute;
    top: 120px;
    left: 235px;
    background-color: black;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: reverb 12s infinite;
}

.revolver #johns{
    position: absolute;
    top: 20px;
    left: 177px;
    background-color: black;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: reverb 12s infinite;
}

.revolver #mikes{
    position: absolute;
    top: 218px;
    left: 65px;
    background-color: black;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: reverb 12s infinite;
}

.revolver #freddys{
    position: absolute;
    top: 20px;
    left: 62px;
    background-color: black;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    animation: reverb 12s infinite;
}
#tommylook{
position: absolute;
bottom: 0;
height: 40em;
left: -545px;
animation: tommylook 2s forwards;
z-index: 1;
animation-delay: 16s;
}

#grace{
    position: absolute;
    bottom: 0;
    right: -655px;
    height: 40em;
    animation: grace 2s forwards;
    z-index: 1;
    animation-delay: 16s;
}

.clips{
    z-index: 2;
    position: absolute;
    bottom: -170px;
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
    animation: clips 2s forwards;
    animation-delay: 16s;
}

@keyframes clips{
    0%{

    }
    100%{
        bottom: 50px;
    }
}
.clips img{
    height: 150px;
    width: 250px;
    padding: 10px;
    box-sizing: content-box;    
}
@keyframes tommylook{
    0%{

    }
    100%{
        left: -275px;
    }
}

@keyframes grace{
    0%{

    }
    100%{
        right: -265px;
    }
}

@keyframes reverb{
    0%{
        transform: rotate(-0deg);
    }
    16%{
        transform: rotate(-60deg);
    }
    33%{
        transform: rotate(-120deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    66%{
        transform: rotate(-240deg);
    }
    83%{
        transform: rotate(-300deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes revolve{
    0%{
        transform: rotate(0deg);
    }
    16%{
        transform: rotate(60deg);
    }
    33%{
        transform: rotate(120deg);
    }
    50%{
        transform: rotate(180deg);
    }
    66%{
        transform: rotate(240deg);
    }
    83%{
        transform: rotate(300deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes frame {
    0%{
        opacity: 0;
    }
    90%{opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes intro{
    0%{}
    100%{
        opacity: 1;
    }
}
@keyframes diss{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes name{
    0%{
        font-size: 50px;
        top: 45%;
       
    }
    33%{
        right: 20%;
        font-size: 50px;
        top: 45%;
    }
    66%{
        right: 20%;
        font-size: 50px;
        top: 45%;
    }
    100%{
        font-size: 20px;
        top: 100px;
        right: 50px;
    }
}
@keyframes tommy {
    0%{
        bottom: -700px
    }
    50%{
        bottom: 0;
    }
    75%{
        bottom: 0px;
    }
    100%{
        bottom: 50px;
    }
}

@keyframes authur {
    0%{
       
    }
    50%{
        bottom: 0;
        left:-150px;
        opacity: 1;
    }
    66%{
        bottom: 0;
        left:-150px;
        opacity: 1;
    }
    100%{
        left:-150px;
        opacity: 0;
    }
}
@keyframes john {
    0%{
        display: none;
    }
    50%{
        left: 200px;
        bottom: 0;
        opacity: 1;
    }
    66%{
        left: 200px;
        bottom: 0;
        opacity: 1;
    }
    100%{
        left: 200px;
        opacity: 0;
    }
}
